.switch-color {
    width: 200px;
    height: 100px;
    position: fixed !important;
    top: 10vh;
    left: 0;
    z-index: 999;
    background-color: #fff;
    padding: 10px;
    border: 1px solid var(--boxShadow);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    .gear {
        position: absolute;
        top: 25%;
        right: -30px;
        transform: translateY(-25%);
        background-color: var(--mainColor);
        text-align: center;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        i {
            padding: 7px;
        }
    }
    .colors-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .color {
            width: 30px;
            height: 30px;
            margin: 5px;
            border-radius: 5px;
            box-shadow: 0 0 5px var(--boxShadow);
            cursor: pointer;
        }
        .color.active {
            border: 1px solid var(--boxShadow);
        }
        .color:nth-child(1) {
            background-color: #ff214f;
        }
        .color:nth-child(2) {
            background-color: #01B2A0;
        }
        .color:nth-child(3) {
            background-color: #FFB400;
        }
        .color:nth-child(4) {
            background-color: #C41C1D;
        }
        .color:nth-child(5) {
            background-color: #F34B0A;
        }
        .color:nth-child(6) {
            background-color: #1ABC9C;
        }
        .color:nth-child(7) {
            background-color: #8E44AD;
        }
        .color:nth-child(8) {
            background-color: #A14C10;
        }
    }
}
.switch-color.open {
    transform: translateX(0%);
}