.about-us-parg {
    padding-bottom: 5%;
    header {
        text-align: left !important;
        margin-bottom: 20px;
        border-bottom: 2px solid #ccc;
        width: fit-content;
        padding: 0 20px;
    }
}