.full-input-ser,
.full-textarea,
.medicines-content {
  width: 49%;
  display: inline-block;
  margin: 15px auto;
  label {
    color: var(--mainColor);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-family: apis;
  }
  input,
  textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1.8px solid rgba(0, 0, 0, 0.199);
    outline: none;
    &:focus {
      border: 1.8px solid var(--mainColor);
    }
    &:focus::placeholder {
      opacity: 0;
      transition: all 0.3s ease;
    }
  }
}
.full-textarea {
  width: 100%;
  display: block;
}

.full-width {
  width: 100% !important;
  display: block !important;
}
.full-input-ser.show-data {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}

.form-search {
  width: 100%;
  padding: 5px;
  border: 2px solid var(--boxShadow);
  outline: none;
  border-radius: 5px;
  margin: 10px 0;
  &:focus {
    border: 1.8px solid var(--mainColor);
  }
  &:focus::placeholder {
    opacity: 0;
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: 991px) {
  .full-input-ser,
  .medicines-content {
    width: 100%;
    display: block;
  }
}
